<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    {{>header}}

    <h1>From about Page hbs</h1>
    <img src="{{img}}" alt="image" width="100px">
    <h3>{{title}}</h3>
    <p>{{name}}</p>
    <p>{{msg}}</p>

    {{>footer}}

    <script src="js/app.js"></script>
</body>

</html>