<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>header}}
    <h1>From Index Page hbs</h1>
    <h3>{{title}}</h3>
    <p>{{name}}</p>
    {{>footer}}

    <script src="js/app.js"></script>
</body>

</html>